@font-face {
  font-family: "font-regular-main";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "font-light-main";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "font-medium-main";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "font-semibold-main";
  src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "font-bold-main";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}