.howitworck {
   background: #f3f5f9;
   padding: 50px 0;

   &__grid {
      display: grid;
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: 5fr 3fr;
      grid-area: 
      "item col2";
      margin-top: 40px;

   }

   &__grid-items {
      grid-template-areas: item;
      margin-right: 15px;

   }

   &__grid-item {
      display: flex;
      align-items:center;
      border-bottom: 1px solid #caddea;
      position: relative;
      line-height: 100%;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      color: #1b7fd0;
      font-weight: 500;
      font-family: "Roboto";
      text-decoration: none;
   }
  

   &__grid-img {
   }

   &__grid-image {
      font-size: 49px;
      line-height: 51px;
      text-transform: uppercase;
      color: #caddea;
      font-weight: 700;
      font-family: "Rajdhani";
      text-align: center;
      margin: 20px 20px;

   }

   &__grid-text {
     height: 100%;

   }

   &__grid-items-col2 {
      grid-template-areas: col2;
      background: #fff;
      filter: drop-shadow(2px 3.464px 3.5px rgba(167,192,200,0.75));
      position: relative;
      display: flex;
      flex-direction: column;
   }
   &__content{
     position: absolute;
      background: #ffffff;
      height: 100%;
   }

   &__grid-items-image {
   }

   &__grid-items-img {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      background: #c9dde9;
      margin: 60px auto 40px;
      background-image: url(../img/css_sprites.png);
      background-position: 5px -435px;

   }

   &__grid-items-text {
      margin: 0 45px 75px;
      p{
         font-size: 18px;
         color: #000000;
         font-family: "Arial Narrow";
         text-align: justify;
      }
   }
  
		&__button {
         text-align: center;
         margin-top: 40px;
        
         }
         &__grid-item:hover {

            text-decoration: none;
            font-size: 22px;
            line-height: 20px;
            font-weight: 500;
            font-family: "Roboto";
            color: #ffffff;
               h4{
                  margin-right: 40px;
               }
               background-color: #075da2;
            }
            &__grid-item:hover .triangle{
               display: block;

              }
             

}



      .button-order{
         display: inline-block;
         overflow: hidden;
         height: 80px;
           a{
         background: #dd0000;
         font-size: 26px;
         text-transform: uppercase;
         color: #ffffff;
         font-weight: 400;
         font-family: "Roboto";
         text-decoration: none;
         line-height: 50px;
         padding: 10px 80px;
         position: relative;


         .square {
            background: #dd0000;
         }
         }
         
      }
      .triangle{
         width: 63px;
         height: 63px;
         background: #075da2;
         transform: rotate(45deg);
         position: absolute;
        display: none;
         z-index:6;
         right: -32px;
      }


@media (max-width:735px) {
   .howitworck{
    &__grid {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(auto-fit, minmax(300px, 2fr));
    grid-area: 
         "item"
         "col2";
      }
   &__grid-items-col2{
    display: none;;
      }   
      &__grid-item:hover .triangle{
      display: none;
   }
   }
#content1{
   grid-template-areas: content1;
}
#content2{
   grid-template-areas: content2;
}
#content3{
   grid-template-areas: content3;
}
#content4{
   grid-template-areas: content4;
}
#content5{
   grid-template-areas: content5;
}
#content6{
   grid-template-areas: content6;
}

a[href="#content1"]{
   grid-template-areas: content1;
}
#content2{
   grid-template-areas: content2;
}
#content3{
   grid-template-areas: content3;
}
#content4{
   grid-template-areas: content4;
}
#content5{
   grid-template-areas: content5;
}
#content6{
   grid-template-areas: content6;
}     
}
/*tabs*/
   .howitworck {

		&__img1 {
         background-position: 0px -1105px;
		}

		&__img2 {
         background-position: 5px -1643px;;
		}

		&__img3 {
         background-position: 5px -79px;
		}

		&__img4 {
         background-position: 10px -763px;
		}

		&__img5 {
         background-position: 15px -1280px;
		}
      &__img6 {
         background-position: 15px -1462px;
		}
      
      
      &__grid-items-col2 &__content{
         z-index: 1;
       }
       #content1{
         z-index: 2;

       }
        &__content:target{
         z-index: 5;
        }

              
     /* &__content:not(#content1){
         display: none;
       }

       &__content:target{
         display: block ;
       }*/


  
}




